.aboutMeContainer{
/* position: relative; */
    z-index: 10;
}

.bioDesc{
    padding-top: 180px;
    justify-content: center;
    align-content: center;
    padding-left: 30px;
}

.introDescription{
    font-size: 1.6rem;
    color: black;
    /* text-align: center; */
    align-content: center;
    padding-left: 40px;
    padding-right: 40px;
}

.additionalText{
    font-size: 1.2rem;
    color: black;    
    padding-left: 40px;
    padding-right: 40px;
}

.img{
    border-radius: 315px;
    opacity: 50%;
    width: 50%;
    height: 50%;
}

.img:hover{
    border-radius: 315px;
    opacity: 100%;
    cursor:crosshair ;

}

.row{
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
}

.column-1{
    /* width: 100%; */
}

.column-2{
    /* flex: 0 0 auto; */
    /* width: 33.33333333%; */
}