.aboutMeContainer{
    z-index: 10;
}

.aboutMeCollection {
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-top: 80px;
    padding-bottom: 22px;
}

.introDescription{
    font-size: 1.1rem;
    color: black;
    align-content: center;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Kumbh Sans', sans-serif;
}

.additionalText{
    font-size: 1rem;
    color: black;    
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Kumbh Sans', sans-serif;
}

.img{
    border-radius: 315px;
    width: 10%;
    height: 10%;
}

.img:hover{
    cursor:crosshair ;
}
.column-2{
    flex: 0 0 auto;
    width: 50%;
}


@media screen and (max-width: 768px){
    .aboutMeCollection {
        align-items: center;
        align-content: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 60px;
    }
    .introDescription{
        font-size: 1rem;      
        color: black;
        padding-left: 20px;
        padding-right: 0px;
        font-family: 'Kumbh Sans', sans-serif;
    }
    .additionalText{
        font-size: 0.8rem;
        color: black;    
        padding-left: 20px;
        padding-right: 40px;
        font-family: 'Kumbh Sans', sans-serif;
    }
    .img{
        display: none;
    }
}