body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home{
    width: 100%;
    height: auto;
    background: #f9f9f9;
    /* background: linear-gradient(to top, #de295f 0%, #fff5fe 100%); */
    }