.page_container{
    padding-top: 180px;
    display: flex;
    flex-direction: column;
}

.container_prj {
    display: flex;
    flex-direction: row;
}

/* Arrow line gong */
.arrow_gong{
    margin-left: 30px;
}

.line{
    margin-left: 40px;
    border-left: 3px solid rgb(5, 5, 5);
    height: 760px;
}
.arrow{
    margin-left: 20px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid rgb(5, 5, 5); 
}

.dot{
    margin-left: 15px;
    background: rgb(5, 5, 5);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}


.year_line{
    margin-left: 30px;
    font-size: 1.2rem;
    color: black;
    font-family: 'Kumbh Sans', sans-serif;
}

.desc_prj{
    margin-left: 70px;
    font-size: 0.5rem;
    color: rgba(0, 0, 0, 0.641);
    font-family: 'Kumbh Sans', sans-serif;
}

.img_box{
    margin-left: 250px;
    display: flex;
    flex-direction: column;
}

.innerBox{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#boxStyle{
    border: 3px solid rgb(5, 5, 5);
    /* width: 30%;
    height: 40%; */
}

.firstBox{
    width: 250px;
    height: 90px;
}
.secondBox{
    width: 200px;
    height: 300px;
}
.thirdBox{
    width: 250px;
    height: 300px;
}

.fourthBox{
    width: 100px;
    height: 300px;
}
.fifthBox{
    width: 180px;
    height: 300px;
}
.sixthBox{
    width: 180px;
    height: 300px;
}

.seventhBox{
    width: 285px;
    height: 300px;
}

.eighthBox{
    width: 300px;
    height: 300px;
}

.ninthBox{
    width: 300px;
    height: 300px;
}
