.page_container{
    padding-top: 180px;
    display: flex;
    flex-direction: column;
}

.container_prj {
    display: flex;
    flex-direction: row;
}

/* Arrow line gong */
.arrow_gong{
    margin-left: 30px;
}

.line{
    margin-left: 40px;
    border-left: 3px solid rgb(5, 5, 5);
    height: 760px;
}
.arrow{
    margin-left: 20px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid rgb(5, 5, 5); 
}

.dot{
    margin-left: 15px;
    background: rgb(5, 5, 5);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}


.year_line{
    margin-left: 30px;
    font-size: 1.2rem;
    color: black;
    font-family: 'Kumbh Sans', sans-serif;
}

.desc_prj{
    margin-left: 70px;
    font-size: 0.5rem;
    color: rgba(0, 0, 0, 0.641);
    font-family: 'Kumbh Sans', sans-serif;
}

.img_box{
    margin-left: 250px;
    display: flex;
    flex-direction: column;
}

.innerBox{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#boxStyle{
    border: 3px solid rgb(5, 5, 5);
}

.firstBox{
    background: rgba(173, 216, 230, 0.648);
    width: 300px;
    height: 300px;
}
.secondBox{
    background: rgba(173, 216, 230, 0.648);
    width: 200px;
    height: 300px;
}
.thirdBox{
    background: rgba(173, 216, 230, 0.648);
    width: 250px;
    height: 300px;
}

.fourthBox{
    background: rgba(173, 216, 230, 0.648);
    width: 100px;
    height: 300px;
}
.fifthBox{
    background: rgba(173, 216, 230, 0.648);
    width: 180px;
    height: 300px;
}
.sixthBox{
    background: rgba(173, 216, 230, 0.648);
    width: 180px;
    height: 300px;
}

.seventhBox{
    background: rgba(173, 216, 230, 0.648);
    width: 285px;
    height: 300px;
}

.eighthBox{
    background: rgba(173, 216, 230, 0.648);
    width: 300px;
    height: 300px;
}

.ninthBox{
    background: rgba(173, 216, 230, 0.648);
    width: 300px;
    height: 300px;
}

.image-holder {
    background: url('http://i.imgur.com/5ln9Vmi.jpg');
    height: 500px;
    width: 500px;
    position: relative;
  }
  
  .image-holder::before {
    content: '';
    background: url('http://i.imgur.com/khYHDfJ.jpg');
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
  }
  
  .image-holder:hover::before {
    opacity: .5; /* amount of opacity to blend the two images */
  }